@model List<Comment>

<div class="border p-5 bg-lightblue">
    @foreach (var item in Model)
    {
        <div class="d-flex flex-start">
            <img class="rounded-circle shadow-1-strong me-3"
                 src="@item.AppUser.Image" alt="avatar" width="65"
                 height="65" />
            <div class="flex-grow-1 flex-shrink-1">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-1">
                            @item.AppUser.Name @item.AppUser.Surname<span class="small"> - @item.Date</span>
                        </p>
                        <div>&nbsp;</div>   <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small">  reply</span></a>
                    </div>
                    <p class="small mb-0">
                     @item.Content
                    </p>

                    <br />

                    @await Component.InvokeAsync("Replies", item.Id)
                </div>
            </div>
        </div>
        <br /><br />
    }
</div>

